@import './style.css', './preset.scss', './animation.scss';

///////////////////////////////
// MAIN
///////////////////////////////

* {
    box-sizing: border-box;
    outline: none;

    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

body {
    font-family: $font-default;
    position: relative;
    margin: 0;
    background-image: linear-gradient(138deg, $color-purple02 33.33%, $color-purple01 33.33%, $color-purple01 50%, $color-purple02 50%, $color-purple02 83.33%, $color-purple01 83.33%, $color-purple01 100%);
    background-size: 224.17px 201.84px;

    &:before {
        content: '';
        position: fixed;
        z-index: 10;
        top: 10px;
        left: 10px;
        box-sizing: border-box;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: 2px solid $color-yellow01;

        pointer-events: none;
    }
}

h1 {
    font-size: 90px;
    font-weight: 100;
    line-height: .9;
    position: relative;
    margin: 0 0 30px;
    color: $color-white;
    text-shadow: 5px 5px 0 rgba($color-black, .3);
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

::selection {
    background: $color-pink01;
}

input[type=text] {
    font-family: $font-default;
    font-size: 28px;
    width: calc(100% - 40px);
    padding: 5px 20px;
    color: $color-white;
    border: none;
    border-bottom: 3px solid $color-yellow01;
    background: transparent;
    text-align: center;

    letter-spacing: 1px;
}

::placeholder {
    font-size: 22px;
    color: rgba($color-white, .7);
}

.center {
    text-align: center;
}

.btn {
    font-family: $font-default;
    font-size: 22px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 300px;
    padding: 18px 60px 10px;
    color: $color-purple02;
    border: none;
    border-radius: 30px;
    background: transparent;
    background: $color-yellow01;
    box-shadow: 5px 5px 0 rgba($color-black, .3);

    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        // height: 100%;
        background: $color-pink01;

        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        height: 100%;
        background: rgba($color-white, .1);

        -webkit-transition: .5s ease .2s;
        -o-transition: .5s ease .2s;
        transition: .5s ease .2s;
        -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
    }

    &:hover {
        &:before {
            height: 100%;
        }

        &:after {
            left: calc(100% + 30px);
        }
    }
}



///////////////////////////////
// TITLE SCREEN
///////////////////////////////

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.title-screen {
    z-index: 2;
    display: flex;
    background-image: linear-gradient(138deg, $color-purple02 33.33%, $color-purple01 33.33%, $color-purple01 50%, $color-purple02 50%, $color-purple02 83.33%, $color-purple01 83.33%, $color-purple01 100%);
    background-size: 224.17px 201.84px;

    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

    align-items: center;
    justify-content: center;

    .btn {
        margin: 0 5px;
    }

    input[type=text] {
        visibility: hidden;
        margin: 0 auto 30px;
        opacity: 0;

        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        pointer-events: none;

        &.fadeIn {
            visibility: visible;
            opacity: 1;

            pointer-events: all;
        }
    }

    h1 {
        visibility: hidden;
        opacity: 0;

        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        animation: titleFloat 1s alternate infinite;
        pointer-events: none;

        &.fadeIn {
            visibility: visible;
            opacity: 1;

            pointer-events: all;
        }
    }

    .btn-wrap {
        visibility: hidden;
        opacity: 0;

        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        pointer-events: none;

        &.fadeIn {
            visibility: visible;
            opacity: 1;

            pointer-events: all;
        }
    }

    .error-msg {
        font-size: 14px;
        height: 14px;
        margin-bottom: 5px;
        color: $color-pink02;

        letter-spacing: .5px;
    }
}



///////////////////////////////
// GAME SCREEN
///////////////////////////////

.game-screen {
    display: flex;
    visibility: hidden;
    opacity: 0;
    color: $color-white;
    background-image: linear-gradient(138deg, $color-purple02 33.33%, $color-purple01 33.33%, $color-purple01 50%, $color-purple02 50%, $color-purple02 83.33%, $color-purple01 83.33%, $color-purple01 100%);
    background-size: 224.17px 201.84px;

    -webkit-transition: .3s ease .5s;
    -o-transition: .3s ease .5s;
    transition: .3s ease .5s;
    pointer-events: none;

    flex-wrap: wrap;

    .side-wrap {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 50px 20px;

        align-items: center;
        justify-content: center;
    }

    .left-wrap {
        .hand-wrap {
            -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            -o-transform: rotate(30deg);
            transform: rotate(30deg);

            &.shake {
                animation: leftShake .5s 3;
            }
        }
    }

    .right-wrap {
        .hand-wrap {
            -webkit-transform: rotateY(180deg) rotateZ(30deg);
            -ms-transform: rotateY(180deg) rotateZ(30deg);
            -o-transform: rotateY(180deg) rotateZ(30deg);
            transform: rotateY(180deg) rotateZ(30deg);

            &.shake {
                animation: rightShake .5s 3;
            }
        }
    }

    .full-wrap {
        display: flex;
        width: 100%;

        align-items: center;

        .half-wrap {
            display: flex;
            width: 50%;
            padding: 0 20px 20px;

            justify-content: center;
        }
    }

    .hand-wrap {
        margin: auto;

        img {
            max-width: 400px;
            max-height: 400px;

            -webkit-transition: .3s ease;
            -o-transition: .3s ease;
            transition: .3s ease;
        }
    }
}

.option-wrap {
    display: flex;

    justify-content: center;
    align-items: center;

    & > div {
        display: flex;
        width: 70px;
        height: 70px;
        margin: 0 5px 5px;
        border-radius: 50%;
        background: $color-yellow01;
        box-shadow: 5px 5px 0 rgba($color-black, .3);

        cursor: pointer;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;

        align-items: center;
        justify-content: center;

        img {
            max-height: calc(100% - 20px);
            margin: auto;
        }

        &:hover {
            margin: 5px 5px 0 5px;
            background: $color-pink01;
            box-shadow: 1px 1px 0 rgba($color-black, .3);
        }
    }
}



///////////////////////////////
// RESULT SCREEN
///////////////////////////////

.lightbox-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    opacity: 0;

    pointer-events: none;

    align-items: center;
    justify-content: center;

    &.win {
        background-image: linear-gradient(138deg, $color-pink01 33.33%, $color-pink02 33.33%, $color-pink02 50%, $color-pink01 50%, $color-pink01 83.33%, $color-pink02 83.33%, $color-pink02 100%);
        background-size: 224.17px 201.84px;

        .btn {
            color: $color-pink02;

            &:before {
                background: $color-purple01;
            }
        }
    }

    &.draw {
        background-image: linear-gradient(138deg, $color-purple02 33.33%, $color-purple01 33.33%, $color-purple01 50%, $color-purple02 50%, $color-purple02 83.33%, $color-purple01 83.33%, $color-purple01 100%);
        background-size: 224.17px 201.84px;
    }

    &.lose {
        background-image: linear-gradient(138deg, $color-purple04 33.33%, $color-purple03 33.33%, $color-purple03 50%, $color-purple04 50%, $color-purple04 83.33%, $color-purple03 83.33%, $color-purple03 100%);
        background-size: 224.17px 201.84px;

        .btn {
            color: $color-purple04;

            &:before {
                background: $color-pink01;
            }
        }
    }
}

.comp-game {
    display: none;
}

.score-wrap {
    h1 {
        margin: 20px 0 0;
    }
}

.restart-btn {
    background: $color-pink01;

    &:before {
        background: $color-yellow01;
    }
}



///////////////////////////////
// FUNCTION
///////////////////////////////

.fadeIn {
    visibility: visible;
    opacity: 1;

    pointer-events: all;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;

    pointer-events: none;
}

@import './responsive.scss';
