///////////////////////////////
// PRESET
///////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

$font-default: 'Luckiest Guy', cursive;

$color-white:           #fff;

$color-black:           #000;

$color-purple01:        #5000c7;
$color-purple02:	    #5500dc;
$color-purple03:        #6e6288;
$color-purple04:        #61537b;

$color-pink01:          #e77171;
$color-pink02:          #de6160;

$color-yellow01:		#ffc900;